<form class="form-register" method="post" action="#">
  <div class="form-register-with-email">
    <div class="form-white-background">
      <div class="form-title-row">
        <h1>Create an account</h1>
      </div>
      <div class="form-row">
          <input type="text" name="name" placeholder="Name">
      </div>
      <div class="form-row">
          <input type="password" name="password" placeholder="Password">
      </div>
      <div class="form-row">
          <input type="password" name="rePass" placeholder="Confirm Password">
      </div>
      <div class="form-row">
        <button type="submit">Register</button>
      </div>
      <a routerLink="/login" class="form-log-in-with-existing">Already have an account? Login here &rarr;</a>
    </div>
  </div>
</form>
