<form class="form-register" method="post" action="#">
  <div class="form-register-with-email">
    <div class="form-white-background">
      <div class="form-title-row">
        <h1>Create an account</h1>
      </div>
      <div class="form-row">
        <label>
          <!-- <span>Name</span> -->
          <input type="text" place="name" placeholder="Name">
        </label>
      </div>
      <div class="form-row">
        <label>
          <input type="password" name="password" placeholder="Password">
        </label>
      </div>
      <div class="form-row">
        <label>
          <input type="password" name="rePass" placeholder="Confirm Password">
        </label>
      </div>
      <div class="form-row">
        <button type="submit">Register</button>
      </div>
      <a routerLink="/login" class="form-log-in-with-existing">Already have an account? Login here &rarr;</a>
    </div>
  </div>
</form>
