
.feed {
  flex: 0.5;
  border-right: 1px solid var(--connected-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--connected-background);
  padding: 15px 20px;
}

.feed-header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* conn box */

.connbox-input img {
  border-radius: 50%;
  height: 40px;
}

.connBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--connected-background);
  padding-right: 10px;
}

.connBox form {
  display: flex;
  flex-direction: column;
}

.connbox-input {
  display: flex;
  padding: 20px;
}

.connbox-input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.connBox-connButton {
  background-color: var(--connected-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* post */

.post-avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--connected-background);
  padding-bottom: 10px;
}

.post-body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-badge {
  font-size: 14px !important;
  color: var(--connected-color);
  margin-right: 5px;
}

.post-headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post-headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post-headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-body {
  flex: 1;
  padding: 10px;
}

.post-avatar {
  padding: 20px;
}
