<div class="container px-4 px-lg-5" *ngIf="haveBookCheck">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h2 class="text-center">My Books</h2>
      <hr class="my-4" />
      <div class="post-preview" *ngFor="let book of books?.results | paginate: { itemsPerPage: 2, currentPage: page }">
        <a [routerLink]="['/single-book', book.objectId]">
          <h2 class="post-title">{{ book.name }}</h2>
          <a [routerLink]="['/single-book', book.objectId]"><img class="img-fluid" src="{{ book.image }}"
              alt="Image..." /></a>
        </a>
        <p class="post-meta">Posted by {{ book.createdBy }} on {{ book.createdAt | date }}</p>
        <!-- Divider-->
        <hr class="my-4" />
      </div>
      <pagination-controls class="paginator-position" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="!haveBookCheck">
  <h2 class="text-center">My Books</h2>
  <hr class="my-4" />
  <p class="text-center">
    You don't have books yet!
  </p>
  <p class="text-center">
    If you want to create book click <a routerLink="/create-book">here!</a>
  </p>
</div>
