<form class="form-edit" method="post" action="#">
  <div class="form-edit-with-data">
    <div class="form-white-background">
      <div class="form-title-row">
        <h1>Edit Book</h1>
      </div>
      <div class="form-row">
        <input type="text" name="name" placeholder="Book Name">
      </div>
      <div class="form-row">
        <input type="text" name="image" placeholder="Image URL">
      </div>
      <div class="form-row">
        <textarea name="content" cols="87" rows="10" placeholder="Conetnt Here"></textarea>
      </div>
      <div class="form-row">
        <button type="submit">Edit</button>
      </div>
    </div>
  </div>
</form>
