<form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-login-with-email">
    <div class="form-white-background">
      <div class="form-title-row">
        <h1>Login</h1>
      </div>
      <div class="form-row">
        <input type="text" name="username" placeholder="Nickname" formControlName="username"
          [ngClass]="{'invalid': (loginForm.get('username')!.touched || loginForm.get('username')!.dirty) && !loginForm.get('username')!.valid}">
        <div class="error-message" *ngIf="loginForm.get('username')!.dirty">
          <span *ngIf="loginForm.get('username')!.errors?.required">
            Field is required
          </span>
          <span *ngIf="loginForm.get('username')!.errors?.maxlength">
            Maximum lenght is 20 characters
          </span>
          <span *ngIf="loginForm.get('username')!.errors?.minlength">
            Minimum lenght is 3 characters
          </span>
        </div>
      </div>
      <div class="form-row">
        <input type="password" name="password" placeholder="Password" formControlName="password"
          [ngClass]="{'invalid': (loginForm.get('password')!.touched || loginForm.get('password')!.dirty) && !loginForm.get('password')!.valid}">
        <div class="error-message" *ngIf="loginForm.get('password')!.dirty">
          <span *ngIf="loginForm.get('password')!.errors?.required">
            Field is required
          </span>
          <span *ngIf="loginForm.get('password')!.errors?.minlength">
            Password must be at least 6 characters long
          </span>
        </div>
      </div>
      <div class="form-row">
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
      <a routerLink="/register" class="form-log-in-with-existing">Don't have account? Register here &rarr;</a>
    </div>
  </div>
</form>
