<form class="form-create" [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="form-create-with-data">
    <div class="form-white-background">
      <div class="form-title-row">
        <h1>Create Book</h1>
      </div>
      <div class="form-row">
        <input type="text" name="name" placeholder="Book Name" formControlName="name"
          [ngClass]="{'invalid': (createForm.get('name').touched || createForm.get('name').dirty) && createForm.get('name').valid}">
        <div class="error-message" *ngIf="createForm.get('name').dirty">
          <span *ngIf="createForm.get('name').errors?.required">
            Field is required
          </span>
          <span *ngIf="createForm.get('name').errors?.maxlength">
            Maximum lenght is 40 characters
          </span>
          <span *ngIf="createForm.get('name').errors?.minlength">
            Minimum lenght is 4 characters
          </span>
        </div>
      </div>
      <div class="form-row">
        <input type="text" name="image" placeholder="Image URL" formControlName="image"
          [ngClass]="{'invalid': (createForm.get('image').touched || createForm.get('image').dirty) && createForm.get('image').valid}">
        <div class="error-message" *ngIf="createForm.get('image').dirty">
          <span *ngIf="createForm.get('image').errors?.required">
            Field is required
          </span>
          <span *ngIf="createForm.get('image').errors?.pattern">
            URL is not valid
          </span>
          <span *ngIf="createForm.get('image').errors?.maxlength">
            Maximum lenght is 2 048 characters
          </span>
        </div>
      </div>
      <div class="form-row">
        <textarea name="content" cols="87" rows="10" placeholder="Conetnt Here" formControlName="content"
          [ngClass]="{'invalid': (createForm.get('content').touched || createForm.get('content').dirty) && createForm.get('content').valid}">
      </textarea>
        <div class="error-message" *ngIf="createForm.get('content').dirty">
          <span *ngIf="createForm.get('content').errors?.required">
            Field is required
          </span>
          <span *ngIf="createForm.get('content').errors?.maxlength">
            Maximum lenght is 4 000 characters
          </span>
          <span *ngIf="createForm.get('content').errors?.minlength">
            Maximum lenght is 200 characters
          </span>
        </div>
      </div>
      <div class="form-row">
        <button type="submit">Create</button>
      </div>
    </div>
  </div>
</form>
